.catchyTitle {
    position: absolute; 
    left: 50%; 
    width: 528px;
}

@media(max-width: 900px) {
    .catchyTitle {
        display: none;
    }
}

.first_product_container {
    display: flex; 
    flex-direction: column; 
    margin-top: 100px; 
    width: 350px; 
    margin-left: 15%;
    fontSize: 20;
}

@media(max-width: 900px) {
    .first_product_container {
        margin-top: 0;
        margin-right: 15%;
        width: auto;
    }
}
