.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        padding: 24px;
    }
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 800px) {
    .logo_container {
        margin-bottom: 16px;
    }
}

.header_element_text {
    font-size: 16px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
}

@media (max-width: 400px) {
    .header_element_text {
        font-size: 12px;
    }
}